<%- include('header') %>

<body>
    <%- include('navbar') %>

    <!--Content-->
    <div class="container-fluid">

        <!--Top Content-->
        <div class="row">

            <div class="col-1">
            </div>

            <div class="col-10 align-self-center">
                
                <!--Header-->
                <div class="d-flex justify-content-end header">
                    <h4 class="blue-font">NEWS</h4>
                </div>
                <!--/.Header-->

            </div>

            <div class="col-1">
            </div>

        </div>
        <!--/.Top Content-->

        <!--Main Content-->
        <div class="row">
            
            <div class="col-1">
            </div>

            <!--News Content-->
            <div class="col-7">
                <h6 class="blue-font" id="news-title-id"><%= title1 %></h6>
                <p id="news-date-id">Yogyakarta, 30 January 2021</p>
                <img src=<%= newsImage1 %> class="img-fluid" alt="">
                <p>
                    Officia voluptatem eum. Aperiam cupiditate inventore quod et voluptas. Ut quidem libero quasi optio iste earum.
                    Tenetur fuga nostrum saepe non corporis. Quos saepe ipsa ad atque fugit. Natus animi ut accusamus. Veritatis excepturi nihil voluptatem omnis explicabo quo.
                    Repudiandae facilis qui voluptate enim veritatis soluta explicabo sint iure. Eum quo vel consequatur est. Corrupti nostrum aut ducimus autem reprehenderit aspernatur aut recusandae sed. Quas officiis qui hic.
                    Autem ex doloremque et velit dolorum animi autem nisi velit. Rerum nihil quis tempora sequi porro. Omnis saepe beatae quia. Deleniti libero neque expedita pariatur. Itaque exercitationem fugit. Impedit dolorum sequi placeat aliquid minus autem excepturi tempore quasi.
                </p>
                <p>
                    Officia voluptatem eum. Aperiam cupiditate inventore quod et voluptas. Ut quidem libero quasi optio iste earum.
                    Tenetur fuga nostrum saepe non corporis. Quos saepe ipsa ad atque fugit. Natus animi ut accusamus. Veritatis excepturi nihil voluptatem omnis explicabo quo.
                    Repudiandae facilis qui voluptate enim veritatis soluta explicabo sint iure. Eum quo vel consequatur est. Corrupti nostrum aut ducimus autem reprehenderit aspernatur aut recusandae sed. Quas officiis qui hic.
                    Autem ex doloremque et velit dolorum animi autem nisi velit. Rerum nihil quis tempora sequi porro. Omnis saepe beatae quia. Deleniti libero neque expedita pariatur. Itaque exercitationem fugit. Impedit dolorum sequi placeat aliquid minus autem excepturi tempore quasi.
                </p>
                <p>
                    Officia voluptatem eum. Aperiam cupiditate inventore quod et voluptas. Ut quidem libero quasi optio iste earum.
                    Tenetur fuga nostrum saepe non corporis. Quos saepe ipsa ad atque fugit. Natus animi ut accusamus. Veritatis excepturi nihil voluptatem omnis explicabo quo.
                    Repudiandae facilis qui voluptate enim veritatis soluta explicabo sint iure. Eum quo vel consequatur est. Corrupti nostrum aut ducimus autem reprehenderit aspernatur aut recusandae sed. Quas officiis qui hic.
                    Autem ex doloremque et velit dolorum animi autem nisi velit. Rerum nihil quis tempora sequi porro. Omnis saepe beatae quia. Deleniti libero neque expedita pariatur. Itaque exercitationem fugit. Impedit dolorum sequi placeat aliquid minus autem excepturi tempore quasi.
                </p>
                <p>Author: <a href="#">Nina</a></p>
            </div>
            <!--/.News Content-->

            <!--Popular Content-->
            <div class="col-3">
                <h5 class="blue-font red-border">POPULAR</h5>
            </div>
            <!--/.Popular Content-->

            <div class="col-1">
            </div>

        </div>
        <!--/.Main Content-->

        <!--Comments Section-->
        <div class="row comment-section">
            
            <div class="col-1">

            </div>

            <div class="col-10">
                <h5 class="grey-border">Comments</h5>
                <div class="form-group row">
                    <div class="col-4">
                        <textarea class="form-control rounded-0" rows="3" placeholder="Type here..."></textarea>
                    </div>
                </div>
                <button type="button" class="btn comment-button rounded-0">Send</button>

            </div>

            <div class="col-1">

            </div>

        </div>
        <!--/.Comments Section-->

    </div>
    <!--/.Content-->

    <%- include('footer') %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.js"></script>
</body>
<!-- </html> -->
<%- include('footer') %>