<%- include('header') %>

    <body>
        <%- include('navbar') %>

            <div class="container">

                <div class="header d-flex justify-content-end">
                    <h4 class="blue-font">NEWS</h4>
                </div>

                <div class="row">
                    <!-- INI BERITA YG TAYANG -->
                    <div class="col-md-9">
                        <div>
                            <h3>Popular 1 : <%= news4[0] %>
                            </h3>
                        </div>
                        <address>
                            Yogyakarta, 31 January 2021
                        </address>
                        <div>
                            <img src=<%=news4[1] %> alt="" class="img-fluid">
                        </div>
                        <div>
                            <p>
                                <%= news4[2] %>
                            </p>
                            <p>
                                <%= news4[3] %>
                            </p>
                        </div>
                        <div>
                            <!-- Hyperlink ke popular3 -->
                            <p class="hyperlinkNews">Read other news: <a href="newsPopular-3">
                                    <%= news3[0] %>
                                </a>
                            </p>
                        </div>
                        <div>
                            <p>
                                <%= news4[4] %>
                            </p>
                        </div>
                        <div>
                            <p>Author: <a href="about">Nina</a></p>
                        </div>
                    </div>

                    <!-- INI BERITA POPULAR -->
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="row popular-list">
                            <div class="d-flex justify-content-start">
                                <h5 class="blue-font red-underline">POPULAR</h5>
                            </div>
                        </div>
                        <br>
                        <!-- POPULAR #1 -->
                        <div class="row popular-list">
                            <img src=<%=news4[1] %> alt="popular-1" class="img-fluid"><br>
                            <div class="popular">
                                <!-- hyperlink ke popular1 -->
                                <a href="newsPopular-1">
                                    <%= news4[0] %>
                                </a>
                            </div>
                        </div>
                        <!-- POPULAR #2 -->
                        <div class="row popular-list">
                            <img src=<%=news5[1] %> alt="popular-2" class="img-fluid"><br>
                            <div class="popular">
                                <!-- hyperlik ke popular2 -->
                                <a href="newsPopular-2">
                                    <%= news5[0] %>
                                </a>
                            </div>
                        </div>
                        <!-- POPULAR #3 -->
                        <div class="row popular-list">
                            <img src=<%=news6[1] %> alt="popular-3" class="img-fluid"><br>
                            <div class="popular">
                                <!-- hyperlink ke popular3  -->
                                <a href="newsPopular-3">
                                    <%= news6[0] %>
                                </a>
                            </div>
                        </div>

                        <!-- BUTTON VIEW MORE -->
                        <div class="row popular-list">
                            <div class="view-more">
                                <!-- hyperlik ke popular page  -->
                                <a href="pupolarPage" class="hyperlinkLatest">View More...</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="comments">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <h5>Comments</h5><br>
                            <textarea class="comment-input form-control rounded-0" id="exampleFormControlTextarea1"
                                rows="3" placeholder="Type here..."></textarea>
                            <br>
                            <button class="btn rounded-0 kirim-btn">Send</button>
                            <div class="comments-section">
                                <P>

                                </P>
                            </div>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                </div>

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

                <script>
                    const commentInput = $('.form-control')
                    const kirimBtn = $('.kirim-btn')
                    const comments = $('.comments-section')

                    kirimBtn.click(() => {
                        const string = commentInput.val()
                        const comment = addComment(string)
                        comments.append(comment)
                        commentInput.val('')
                    })

                    function addComment(comment) {
                        const div = $(`<div class="comment-single"></div>`)
                        const p = $(`<p></p>`)
                        const button = $(`<button class="btn rounded-0" style="background-color: #D3D0D6;"></button>`)

                        p.html(comment)

                        div.append(p).append(button)

                        button.html('Delete')
                        button.click(() => {
                            button.parent().remove()
                        })

                        return div
                    }

                </script>
            </div>
            <style>
                .title {
                    padding: 20px 0px 20px 0px;
                }

                address {
                    opacity: 50%;
                }

                img {
                    padding: 0px 0px 15px 0px;
                }

                h3 {
                    color: #253D59;
                }

                .hyperlinkNews {
                    color: red;
                    background-color: #bdbbbb;
                    padding: 10px 20px 10px 20px;
                }

                .comments {
                    margin-top: 50px;
                    padding: 10px 0px 10px 0px;
                    background-color: #f7e1cf;
                }

                .popular {
                    padding: 10px 0px 10px 10px;
                }

                a {
                    color: #253D59;
                    text-decoration: none;
                }

                .text-trending {
                    color: #505050;
                    padding-top: 10%;
                }

                .col-1 {
                    color: #253D59;
                }

                .hyperlinkLatest {
                    color: white;
                }

                .view-more {
                    background-color: #253D59;
                    padding: 2px 10px 2px 20px;
                    text-decoration: none;
                }
            </style>

    </body>

    <%- include('footer') %>