<%- include('header') %>

    <body>
        <%- include('navbar') %>

            <div class="container popular-content">

                <div class="header d-flex justify-content-end">
                    <h4 class="blue-font">POPULAR</h4>
                </div>

                <div class="row">
                    <!-- INI BERITA TRENDING -->
                    <div class="col-md-9">
                        <div class="d-flex justify-content-start">
                            <h5 class="blue-font red-underline">TRENDING</h5>
                        </div>
                        <br>
                        <!-- TRENDING #1 -->
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <h3 class="nomorTrending">#1</h3>
                            </div>
                            <!-- FOTO TRENDING#1 -->
                            <div class="col-5 align-self-center">
                                <img src=<%=news4[1] %> alt="Trending #1" class="img-fluid">
                            </div>
                            <!-- TEKS TRENDING#1 -->
                            <div class="col-6 align-self-center">
                                <div class="text-trending">
                                    <a href="newsPopular-1">
                                        <h5>
                                            <%= news4[0] %>
                                        </h5>
                                        <p>
                                            <%= news4[2] %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div><br><br>
                        <!-- TRENDING #2 -->
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <h3 class="nomorTrending">#2</h3>
                            </div>
                            <!-- FOTO TRENDING#2 -->
                            <div class="col-5 align-self-center">
                                <img src=<%=news5[1] %> alt="Trending #2" class="img-fluid">
                            </div>
                            <!-- TEKS TRENDING#2 -->
                            <div class="col-6 align-self-center">
                                <div class="text-trending">
                                    <a href="newsPopular-2">
                                        <h5>
                                            <%= news5[0] %>
                                        </h5>
                                        <p>
                                            <%= news5[2] %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div><br><br>
                        <!-- TRENDING 3 -->
                        <div class="row">
                            <div class="col-1 align-self-center">
                                <h3 class="nomorTrending">#3</h3>
                            </div>
                            <!-- FOTO TRENDING#3 -->
                            <div class="col-5 align-self-center">
                                <img src=<%=news6[1] %> alt="Trending #3" class="img-fluid">
                            </div>
                            <!-- TEKS TRENDING#3 -->
                            <div class="col-6 align-self-center">
                                <div class="text-trending">
                                    <a href="newsPopular-3">
                                        <h5>
                                            <%= news6[0] %>
                                        </h5>
                                        <p>
                                            <%= news6[2] %>
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- INI BERITA POPULAR -->
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="row popular-list">
                            <div class="d-flex justify-content-start">
                                <h5 class="blue-font red-underline">LATEST NEWS</h5>
                            </div>
                        </div>
                        <br>
                        <!-- LATEST NEWS #1 -->
                        <div class="row popular-list">
                            <img src=<%=news1[1] %> alt="latestNews-1" class="img-fluid"><br>
                            <div class="latestNews">
                                <a href="newsLatest-1">
                                    <%= news1[0] %>
                                </a>
                            </div>
                        </div>
                        <!-- LATEST NEWS #2 -->
                        <div class="row popular-list">
                            <img src=<%=news2[1] %> alt="latestNews-2" class="img-fluid"><br>
                            <div class="latestNews">
                                <a href="newsLatest-2">
                                    <%= news2[0] %>
                                </a>
                            </div>
                        </div>
                        <!-- LATEST NEWS #3 -->
                        <div class="row popular-list">
                            <img src=<%=news3[1] %> alt="latestNews-3" class="img-fluid"><br>
                            <div class="latestNews">
                                <a href="newsLatest-3">
                                    <%= news3[0] %>
                                </a>
                            </div>
                        </div>

                        <!-- BUTTON VIEW MORE -->
                        <div class="row popular-list">
                            <div class="view-more">
                                <a href="/" class="hyperlinkLatest">View More...</a>
                            </div>
                        </div>

                        <style>
                            .title {
                                padding: 20px 0px 20px 0px;
                            }

                            h3 {
                                color: #253D59;
                            }

                            .nomorTrending {
                                padding: 50% 0px 50% 0px;
                            }

                            .latestNews {
                                padding: 10px 0px 10px 10px;
                            }

                            a {
                                color: #253D59;
                                text-decoration: none;
                            }

                            .text-trending {
                                color: #505050;
                                padding-top: 8px;
                            }

                            .col-1 {
                                color: #253D59;
                            }

                            .hyperlinkLatest {
                                color: white;
                            }

                            .view-more {
                                background-color: #253D59;
                                padding: 2px 10px 2px 20px;
                                text-decoration: none;
                            }
                        </style>
                    </div>
                </div>
            </div>
    </body>

    <!-- </html> -->
    <%- include('footer') %>